@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Variables de uso */
:root{
    --Font-color-oscuro: #276359;
    --Gradient-dark: #419889;
    --Gradient-medium: #8EBBA7;
    --Gradient-light: #A5E2C7; 
    --Font-color-light: #FCAC89;
}

/* Conifguraciones */
html{
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Poppins', sans-serif;
}
*::before, *::after, html{
    box-sizing: border-box;
}
body{
    background-image: url(../img/dcl.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    backdrop-filter: blur(10px);
    
    display: flow-root;
}
/* Musica */

.mute{
    display: none;
}

/* Main */
main{
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-rows: 10vh;
    /* align-items: center;
    justify-content: center; */
}

button{
    background-color: transparent;
    border: none;
}
h1{
    font-size: 7rem;
    font-weight: 700;
    color: white;
    text-shadow: -1px 1px 3px black;
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: underline;
}

h2{
    font-size: 2.5rem;
    font-weight: 700;
    color: white;
    text-shadow: -1px 1px 3px black;
    text-align: center;
}
@media (max-width: 768px) {
    h1{
        font-size: 4rem
    }
}
form{
    margin: 0 auto;
    width: 50%;
    text-align: center;
    background-color: #00000035;
    padding: 1rem;
    border-radius: 50px; 
}
@media (max-width: 768px) {
    form{
        width: 95%;
    }
}
input{
    padding: 1.2rem 0.7rem;
    font-size: 1.5rem;
}

input[type="text"],
input[type="password"]{
    width: 90%;
    background: linear-gradient(90deg, rgba(65,152,137,1) 0%, rgba(142,187,167,1) 50%, rgba(165,226,199,1) 100%);
    border-radius: 0.5rem; 
    box-shadow:  -3px 3px 7px black;
    border: none;
    color: #276359;
    font-weight: bold;
    margin: 1.5rem auto;
    display: block;
    outline: none;
    color: white;
    
}

::placeholder{
    text-align: center;
    font-weight: 700;
    color: #276359;
}
label{
    font-weight: 700;
    font-size: 1.3rem;
    

}
input[type="checkbox"]{
    margin-right: .7rem;
}


form p{
    margin: 1rem 0;
    color: #FFFFFF; /* Blanco para destacar */
    text-shadow: -1px 1px 3px rgba(0, 0, 0, 1); /* Sombra para mayor visibilidad */
    font-weight: 700;
    font-size: 1.5rem;
}
form p a{
    text-decoration: none;
    color: var(--Font-color-light);
}
form p a:hover{
    transition: 1s;
    color: #fe773e;
}
form .nombreUsuarioValidacion, form .passwUsuarioValidacion, form .rpasswUsuarioValidacion,form .loginIncorrecto{
    color: red;
    display: none;
}

.boton{
    width: 100%;
    background-color: #32CD32;
    background: linear-gradient(90deg, #56CCF2 0%, #2F80ED 100%);
    padding: 1.2rem 0.7rem;
    font-size: 1.5rem;
    border-radius: 0.5rem; 
    box-shadow:  -3px 3px 7px #000000dc;
    color: #fff;
    margin: 1rem 0;
    width: 50%;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    border: none;
    transition: 1.1s;
    
}

.boton:hover{
    transition: 1.1s;
    width: 55%;
    color: black;
    background: rgb(227,129,80);
    background: linear-gradient(90deg, rgba(227,129,80,1) 0%, rgba(252,172,137,1) 50%, rgb(243, 162, 128) 100%);
}
a{
    text-decoration: none;
}
/* Imagenes de abajo en inicio de sesión,  inicio, y registro*/
.alcaldes{
    width: 30%;
    margin: 0 auto;
    display: flex;
}
.alcaldes div img{
    width: 100%;
}
@media (max-width: 768px) {
    .alcaldes{
        width: 100%;
        margin: 0 auto;
    }
}

/* ----- Páginas especificas ----- */
/* Inicio de sesión */
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}
.icons a:visited{
    color: black;
}
.icons a, .icons a svg{
    color: black;
}
/* Página de inicio */
.inicio{
    display: flex;
    flex-direction: row;
    padding: 0 3rem;
    align-items: center;
    justify-content: space-between;
}
.botones-inicio{
    display: flex;
    flex-direction: column;
    row-gap: 2.5rem;
    justify-content: center;
    align-items: center;
}
.botones-inicio a{
    text-align: center;
}
#mostrarpassw{
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: var(--Font-color-light);
    width: 90%;
    text-shadow: 1px ;
    text-shadow: -3px 1px 3px black;
}
/* Panel de administración */
.paneles a:visited {
    color: #276359;

}
.paneles{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    transition: 1s;
    color: #276359;
    text-decoration: none;

}
.paneles a:hover{
    transition: 1s;
    transform: scale(1.1);
}
.paneles a:focus{
    color: rgb(255, 47, 0);
}
.paneles1{
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    justify-content: space-around;
}
.panel1{
    background: linear-gradient(90deg, rgba(65,152,137,1) 0%, rgba(142,187,167,1) 50%, rgba(165,226,199,1) 100%);
    display: flex;
    width: 60%;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 15px;
    margin: 0 2rem;
    box-shadow: -2px 2px 5px black;
}
.panel1 p{
    padding: 2rem;
}
.panel1 div{
    margin: 0 auto;
    text-align: center;
    padding: 0 2rem;
    width: 20%;
}
.panel1 div img{
    width: 100%;
}
.panel2{
    background: linear-gradient(90deg, rgba(65,152,137,1) 0%, rgba(142,187,167,1) 50%, rgba(165,226,199,1) 100%);
    display: flex;
    height: 150px;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 15px;
    margin: 2rem auto;
    padding: 0 2rem;
    box-shadow: -2px 2px 5px black;
}

.panel2 div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    gap: 1rem;
    width: 35%;
}

.panel2 div img{
    width: 100%;
    object-fit:contain ;
}
.panel2 p{
    width: 60%;
}

.panel3{
    background: linear-gradient(90deg, rgba(65,152,137,1) 0%, rgba(142,187,167,1) 50%, rgba(165,226,199,1) 100%);
    display: flex;
    height: 150px;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    border-radius: 15px;
    margin: 2rem auto;
    padding: 0 2rem;
    box-shadow: -2px 2px 5px black;
}
.panel3 div{
    width: 50%;
}
.panel3 div img{
    width: 45%;
}

/* Mod preguntas */

.botones{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 2rem auto;
    width: 50%;
    padding: 1rem;
}

.botones button{
    width: 20%;
    padding: 1.2rem 0.7rem;
    font-size: 1.5rem;
    border-radius: 0.5rem; 
    box-shadow:  -3px 3px 7px black;
    border: none;
    color: #fff;
    cursor: pointer;
    font-weight: bold;
    outline: none;
    border: none;
    transition: 1.1s;
    background: linear-gradient(90deg, #56CCF2 0%, #2F80ED 100%);
}

summary {
    margin: 0 auto;
    padding: 2rem;
    width: 75%;
    border-radius: 1em; 
    box-shadow: -3px 3px 7px black;
    border: none;
    color: #0e221f;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
    list-style-type: disc;
}

details:nth-of-type(even) > summary {
    background: -webkit-linear-gradient(90deg, #419889, #8EBBA7, #A5E2C7);
    background: linear-gradient(90deg, #419889, #8EBBA7, #A5E2C7);
}

details:nth-of-type(odd) > summary {
    background: -webkit-linear-gradient(90deg, #A5E2C7, #8EBBA7, #419889);
    background: linear-gradient(90deg, #A5E2C7, #8EBBA7, #419889);
}

.summaryContainer{
    width: 75%;
    margin: 0 auto;
    background-color: #00000043;
    padding: 1rem;  
    border-radius: 1em;
    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    border-radius: 1em;
}

table{
    width: 100%;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: 1em;
    box-shadow: -3px 3px 7px black;
    border: none;
    color: #0e221f;
    font-weight: bold;
    font-size: 1.7rem;
    text-align: left;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

th, td {
    padding: 1rem;
}

.center{
    text-align: center;
    line-height: 1.5em;
}

table tr:nth-child(1) > td:nth-child(1){ 
    width: 15%;
    vertical-align: middle;
}

table tr:nth-child(1) > td:nth-child(2){
    line-height: 1.2em;
    vertical-align: middle;
}

.blanco{
    color: white;
}