html{
    font-size: 62.5%; /* 1rem = 10px */
}
*::before, *::after, html{
    box-sizing: border-box;
}
main{
    background-image: url(../img/dcl.jpeg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    max-height: 100vh;
    width: 100%;
    backdrop-filter: blur(10px);
}
.login-container{
    height: 100vh;
    backdrop-filter: blur(5px);
    
}
.icons{
    padding: 2rem;
    text-align: right;
    background-color: red;
}
.login-container2{
    display: flex;
    flex-direction: column;
}
button{
    background-color: transparent;
    border: none;
    height: 1rem;
}
