@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


/* Variables de uso */
:root{
    --Font-color-oscuro: #276359;
    --Gradient-dark: #419889;
    --Gradient-medium: #8EBBA7;
    --Gradient-light: #A5E2C7; 
    --Font-color-light: #FCAC89;
}

/* Conifguraciones */
html{
    font-size: 62.5%; /* 1rem = 10px */
    font-family: 'Poppins', sans-serif;
}
*::before, *::after, html{
    box-sizing: border-box;
}
body{
    background-image: url(../img/dcl.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    backdrop-filter: blur(5px);

}
/* Main */
main{
    margin: 0px;
    width: 100%;
    display: grid;
    grid-template-rows: 10vh 85vh;
    /* align-items: center;
    justify-content: center; */
}
.icons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem;
}
button{
    background-color: transparent;
    border: none;
}
h1{
    font-size: 7rem;
    font-weight: 700;
    color: white;
    text-shadow: -1px 1px 3px black;
    text-align: center;
    margin-bottom: 3rem;
    text-decoration: underline;
}
form{
    margin: 0 auto;
    width: 90%;
}
input{
    display: block;
}
